<h2>All my users </h2>

<% if flash[:success] %>
    <%= flash[:success] %>
<% end %>

<ul>
    <% @users.each do |user| %>
        <li><%= user.username %> - <%= user.email %> </li>
        <ul>Children:
        <% if user.children.empty? %>
            <li>None</li>
            <% else %>
            <% user.children.each do |child| %>
                <li><%= child.name%> - <%= child.nick_name%></li>
            <% end %>
        <% end%>
        </ul>
    <% end %>
</ul>















