<h2>Add a new user!</h2>

<% if @user.errors.any? %>
    <h2>
        <%= pluralize(@user.errors.count, "error") %> prevented this user from being saved.
    <h2>
    <ul id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
            <li style="color: red"><%= msg %></li>
        <% end %>
    </ul>
<% end %>


<%= form_for @user do |f| %>
    <% binding.pry %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <h2>Children:</h2>
    <%= f.fields_for :children, @child do |cf| %>
        <% binding.pry %>
        <%= cf.label :name %>
        <%= cf.text_field :name %>
        <br>
        <%= cf.label :nick_name %>
        <%= cf.text_field :nick_name %>
        <br>
    <% end %>
    <%= f.submit %>
<% end %>